{% extends "layout.twig" %}
{% block content %}


<div class="bk-row  row  row__hero--02  filter  filter__pre--soft-light--contrast  accent">
    <div class="bk-row__container  row__container">
        <div class="row__column  row__column--full  align--middle-center">
            {{widget('content', 'content-hero', {
                content: '<h1>Extensive Indoor and Outdoor Sports and Social Facilities</h1>
                          <h4>Call now to look around the facilities and make a reservation</h4>'
            })|raw}}
        </div>
    </div>
</div>


<div class="bk-row  row  row__hero--02  filter  filter__pre--soft-light  accent">
    <div class="bk-row__container  row__container">
        <div class="row__column  row__column--full  align--middle-center">
            {{widget('content', 'content-hero', {
                content: '<h1>Extensive Indoor and Outdoor Sports and Social Facilities</h1>
                          <h4>Call now to look around the facilities and make a reservation</h4>'
            })|raw}}
        </div>
    </div>
</div>


<div class="bk-row  row  row__hero--02  filter  filter__pre--multiply  accent">
    <div class="bk-row__container  row__container">
        <div class="row__column  row__column--full  align--middle-center">
            {{widget('content', 'content-hero', {
                content: '<h1>Extensive Indoor and Outdoor Sports and Social Facilities</h1>
                          <h4>Call now to look around the facilities and make a reservation</h4>'
            })|raw}}
        </div>
    </div>
</div>


<div class="bk-row  row  row__hero--02  filter  filter__pre--gradient  accent">
    <div class="bk-row__container  row__container">
        <div class="row__column  row__column--full  align--middle-center">
            {{widget('content', 'content-hero', {
                content: '<h1>Extensive Indoor and Outdoor Sports and Social Facilities</h1>
                          <h4>Call now to look around the facilities and make a reservation</h4>'
            })|raw}}
        </div>
    </div>
</div>


<div class="bk-row  row  row__hero--02  filter  filter__pre--skew  accent">
    <div class="bk-row__container  row__container">
        <div class="row__column  row__column--full  align--middle-right">
            {{widget('content', 'content-hero', {
                content: '<h1>Extensive Indoor and Outdoor Sports and Social Facilities</h1>
                          <h4>Call now to look around the facilities and make a reservation</h4>'
            })|raw}}
        </div>
    </div>
</div>


<div class="bk-row  row  row__hero--02  gradient">
    <div class="bk-row__container  row__container">
        <div class="row__column  row__column--full  filter  filter__pre--stripe">
        </div>
        <div class="row__column  row__column--full  align--bottom-right">
            {{widget('content', 'content-hero', {
                content: '<h1 style="text-align: right;">Extensive Indoor and Outdoor Sports and Social Facilities</h1>
                          <h4 style="text-align: right;">Call now to look around the facilities and make a reservation</h4>'
            })|raw}}
        </div>
    </div>
</div>


{% endblock %}
