<!doctype html>
<html class="no-js" lang="{{ page.seoLang }}">
    <head>
        <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <meta name="keywords" content="{{ page.keywords }}" />
        <meta name="description" content="{{ page.description }}" />

        <meta name="viewport" content="width=device-width,initial-scale=1">

        <script src="https://use.typekit.net/dyh1ggz.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        {% include basekit.headScript %}

    </head>

    <body>

        {% block content %}
        {% endblock %}

        {% include basekit.bodyScript %}

        <script src="{{ asset('toggleClass.min.js')}}"></script>
        <script src="{{ asset('misc/demo-ui.js')}}"></script>

        <script src="https://use.fontawesome.com/429e6a92b2.js"></script>

        <!-- Page Specific Scripts -->
        {% block scripts %}
        {% endblock %}

    </body>
</html>
