{% extends "layout.twig" %}
{% block content %}

<div class="theme-1">
    <div class="bk-row  row  row__nav--01  light">
        <div class="bk-row__container  row__container">

            <div class="row__column  row__column--one-quarter  align--middle-left">
                {{widget('socialicons', 'socialnetworks', {
                    'facebook': 'https://www.facebook.com/mycompanyname',
                    'twitter': 'https://twitter.com/mycompanyname',
                    'instagram': 'https://www.instagram.com/mycompanyname'
                })|raw}}
            </div>

            <div class="row__column  row__column--half  align--middle-center">
                {{widget('extendednavigation', 'navigation', {})|raw}}
            </div>

            <div class="row__column  row__column--one-quarter  align--middle-right">
                {{widget('clicktocall', 'clicktocall', {
                    'phoneText': '01234 123456',
                     'fontSize': 16,
                    'align': 'widget-align-right'
                })|raw}}
            </div>

        </div>
    </div>


    <div class="bk-row  row  row__hero--01  row__overlay  bg--cover  dark" style="background-image: url('http://rhysjp.co.uk/dex/barber.jpg');"">
        <div class="bk-row__container  row__container">

            <div class="row__column  row__column--full  align--middle-center">
                {{widget('logo', 'sitelogo', {
                    'defaultlogo': asset("templates/barber-logo.png")
                })|raw}}
            </div>

        </div>
    </div>


    <div class="bk-row  row  row__content--01  light">
        <div class="bk-row__container  row__container">

            <div class="row__column  row__column--one-third  align--middle-left">
                {{widget('content', 'content-about', {
                    content: '
                    <h2>About Us</h2>
                    <p>We have over 20 years of experience in this area of business and we stive to achieve the best.</p>'
                })|raw}}
            </div>

            <div class="row__column  row__column--one-third  align--middle-center">
                {{widget('content', 'content-clients', {
                    content: '
                    <h2>Our Clients</h2>
                    <p>Our Clients range from FTSE 300 companies, to large charitable organisations and loca. businesses.</p>'
                })|raw}}
            </div>

            <div class="row__column  row__column--one-third  align--middle-right">
                {{widget('content', 'content-opening', {
                    content: '
                    <h2>Opening Times</h2>
                    <p>We are open Tuesday to Saturday, and from 8-6pm daily. For appointments please contact us to check availabilty.</p>'
                })|raw}}
            </div>

        </div>
    </div>


    <div class="bk-row  row  row__image--01  dark">
        <div class="bk-row__container  row__container">

            <div class="row__column  row__column--full  align--middle-center">
                {{widget('image', 'footerimage', {
                    'src': asset("/templates/barber.jpg")
                })|raw}}
            </div>

        </div>
    </div>



    <div class="bk-row  row  row__contact--01  dark">
        <div class="bk-row__container  row__container">

            <div class="row__column  row__column--half  align--top-right  text__align-right">
                {{widget('content', 'content-contact', {
                    content: '
                    <h2>For appointments, please send us a message using the contact form with time and date of the appointment needed.</h2>'
                })|raw}}
            </div>

            <div class="row__column  row__column--half  align--middle-left">
                {{widget('contactform', 'contact', {
                    'text': 'Submit',
                    'formTitle': 'Contact Us',
                    'email': 'profile'
                })|raw}}
            </div>

        </div>
    </div>



    <div class="bk-row  row  row__footer--01  dark">
        <div class="bk-row__container  row__container">

            <div class="row__column  row__column--one-third  align--middle-left">
                {{widget('socialicons', 'socialnetworks', {
                    'facebook': 'https://www.facebook.com/mycompanyname',
                    'twitter': 'https://twitter.com/mycompanyname',
                    'instagram': 'https://www.instagram.com/mycompanyname'
                })|raw}}
            </div>

            <div class="row__column  row__column--one-third  align--middle-center">
                {{widget('logo', 'sitelogo', {
                    'defaultlogo': asset("templates/barber-logo.png")
                })|raw}}
            </div>

            <div class="row__column  row__column--one-third  align--middle-right">
                {{widget('content', 'content-copyright', {
                    content: '
                    <p>Copyright 2017</p>'
                })|raw}}
            </div>

        </div>
    </div>
</div>


{% endblock %}
